.detalleProd {


    display: flex;
    margin-top: 200px;
    margin-left: auto;
    color: black;
    height: auto;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
}


.frente {
    display: flex;
    height: auto;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.ItemDetail {

    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: auto;
    padding: 10px;
}

.div-h2s{

    font-style: oblique;
    background-color: rgb(240, 231, 231);
    border-style:groove;
    border-radius: 4%;

}