.item {


    display: flex;
    flex-direction: column;
    background-color: rgba(38, 97, 185, 0.486);
    border-radius: 20%;
    padding:1%;
    margin-top: 25px;
    justify-content: space-between;

}

.titulo {


    height: auto;
}

.itemListContMaps {


    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}

.itemList {

    display: flex;
    justify-content: space-evenly;
    height: 40%;
    flex-wrap: wrap;
    width: 80%;
    align-items: flex-start;
    row-gap: 50%;
    column-gap: 5%;
}