.buttons {


    border-radius: 2px solid black;
    border-style: groove;
    width: 70px;
    height: 40px;
    border-radius: 30%;
    background-color: rgba(30, 75, 24, 0.671);

}

.sumaRestaButtons {

    display: flex;
    height: auto;
    width: auto;
    margin-top: 50px;
    border-radius: 5%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}



.buttonAgregar {

    border-radius: 2px solid black;
    border-style: groove;
    width: 100%;
    height: 40px;
    border-radius: 5%;
    background-color: rgb(54, 202, 54);
    margin-bottom: 2vh;


}