.buttons{


    border-radius: 2px solid black;
    border-style: groove;
    width: 70px;
    height: 40px;
    border-radius: 30%;
    background-color: rgba(77, 97, 209, 0.671);

}

.showProdStock{

height: 25px;
width: 25px;
background-color: rgb(197, 143, 143);
margin-top: 50px;
border-radius: 20%;

}

.buttonAgregar{

    border-radius: 2px solid black;
    border-style: groove;
    width: 70px;
    height: 40px;
    border-radius: 30%;
    background-color: rgb(54, 202, 54);
    margin-left: 20px;


}