.itemCount{


    display: flex;
    height: 50%;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    flex-direction: column-reverse;
    justify-items: stretch;
    /* background-color: rgba(61, 120, 168, 0.692); */
    border-radius: 5%;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: nowrap;
}